<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Properties>
        <Property name="LOG_HOME">/data/logs/javademo</Property>
        <Property name="PATTERN_STYLE">
            time[%d{yyyy-MM-dd HH:mm:ss.SSS}] traceid[%X{jdb_traceid}] uri[%X{mdc_uri}] thread[%t] level[%p] class[%c] method[%M] line[%L] appname[%appname] logtype[%logtype] %msg%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN_STYLE}"/>
        </Console>

        <RollingFile name="FILE" fileName="${LOG_HOME}/javademo.log"
                     filePattern="${LOG_HOME}/javademo.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${PATTERN_STYLE}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>

        <RollingFile name="ERRORLOG" fileName="${LOG_HOME}/javademo_error.log"
                     filePattern="${LOG_HOME}/javademo_error.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${PATTERN_STYLE}"/>
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_HOME}" maxDepth="1">
                    <IfFileName glob="javademo_error.log.*"/>
                    <IfLastModified age="3000d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="HTTPREQUESTSTATISTICS" fileName="${LOG_HOME}/http/http.log"
                     filePattern="${LOG_HOME}/http/http.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${PATTERN_STYLE}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_HOME}/http" maxDepth="1">
                    <IfFileName glob="http.log.*"/>
                    <IfLastModified age="3000d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="alarmMailLog" fileName="${LOG_HOME}/alarm/alarm.mail.log"
                     filePattern="${LOG_HOME}/alarm/alarm.mail.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${PATTERN_STYLE}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_HOME}/alarm" maxDepth="1">
                    <IfFileName glob="alarm.mail.log.*"/>
                    <IfLastModified age="3000d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="alarmSmsLog" fileName="${LOG_HOME}/alarm/alarm.sms.log"
                     filePattern="${LOG_HOME}/alarm/alarm.sms.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${PATTERN_STYLE}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_HOME}/alarm" maxDepth="1">
                    <IfFileName glob="alarm.sms.log.*"/>
                    <IfLastModified age="3000d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="remoteErrorLog" fileName="${LOG_HOME}/alarm/remoteError.log"
                     filePattern="${LOG_HOME}/alarm/remoteError.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${PATTERN_STYLE}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_HOME}/alarm" maxDepth="1">
                    <IfFileName glob="remoteError.log.*"/>
                    <IfLastModified age="3000d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="ERROR"/>
        <Logger name="java.sql.Connection" level="INFO"/>
        <Logger name="java.sql.ResultSet" level="INFO"/>

        <Logger name="com.plg.base.common.logs.HttpRequestStatistics" level="INFO" additivity="false">
            <AppenderRef ref="HTTPREQUESTSTATISTICS"/>
        </Logger>

        <Logger name="com.plg.javademo.provider.common.logs.AlarmMailLog" level="INFO" additivity="false">
            <AppenderRef ref="alarmMailLog"/>
        </Logger>

        <Logger name="com.plg.javademo.provider.common.logs.AlarmSmsLog" level="INFO" additivity="false">
            <AppenderRef ref="alarmSmsLog"/>
        </Logger>

        <Logger name="remoteErrorLog" level="INFO" additivity="false">
            <AppenderRef ref="remoteErrorLog"/>
        </Logger>

        <Root level="INFO" includeLocation="true">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="ERRORLOG"/>
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
